body{
    background: linear-gradient(to right, #141e30, #243b55);
    font-family: Arial;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{
    background:white;
    padding:40px;
    border-radius:10px;
    width:300px;
    text-align:center;
}

input{
    width:100%;
    padding:10px;
    margin:10px 0;
}

button{
    width:100%;
    padding:10px;
    background:#243b55;
    color:white;
    border:none;
}

.error{
    color:red;
}
